@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');

/* INICIO DOS ESTILOS GLOBAIS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #006097;
    --white: #fff;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul, a {
    list-style: none;
    text-decoration: none;
}

/* FINAL DOS ESTILOS GLOBAIS */

.container {
    width: 100%;
    height: 100vh;
    
    background-image: url(../assets/principal/background-container-avai.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* INICIO ESTILOS DO HEADER */

    header {
        width: 100%;
        height: 130px;
        padding: 0 60px;

        background-color: var(--blue);
        border-bottom: 5px solid var(--white);
        border-radius: 0px 0px 20px 20px;

        display: flex;
        align-items: center;
        justify-content: center;

        gap: 160px;

        a{
            img {
                width: 180px;
                height: 110px;
                object-fit: cover;
            }
        }

        .navigation {

            .nav-menu {
                display: flex;
                align-items: center;
                gap: 60px;

                li a {
                    color: var(--white);
                    font-size: 20px;
                    font-weight: 600;
                    transition: all 0.3s;

                    &:hover {
                        color: #b6b6b6;
                    }
                }
            }
        }

        .search {
            display: flex;
            align-items: center;

            a {
                i{
                    font-size: 55px;
                    color: var(--white);
                    transition: all 0.3s;

                    &:hover {
                        color: #b6b6b6;
                    }
                }
            }
        }

    /* FIM ESTILOS DO HEADER */
    }

    .container-bottom {
        width: 100%;
        height: 89vh;

        display: flex;
        justify-content: center;
        align-items: center;

        gap: 115px;

        .section-media {
            width: 300px;
            height: 21vh;


            display: flex;
            align-items: end;

            .navigation-media {
                width: 100%;
                height: 450px;

                display: flex;
                align-items: center;
                justify-content: center;

                background-color: var(--blue);

                border-radius: 0px 20px 20px 0px;
                border: 5px solid var(--white);

                .nav-media {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;

                    li a {
                        font-size: 28px;
                        color: var(--white);

                        transition: all 0.3s;

                        &:hover {
                            color: #b6b6b6;
                        }
                    }
                }
            }
        }

        .main-nextgame {
            width: 100%;
            height: 89vh;

            display: flex;

            .content-nextgame {
                width: 570px;
                height: 825px;
                margin: 200px -60px;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                gap: 20px;

                .navigation-sponsor {
                    width: 100%;
                    height: 95px;
                    background-color: var(--blue);
                    border: 5px solid var(--white);
                    border-radius: 20px;

                    display: flex;

                    .nav-sponsor {
                        width: 100%;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: row-reverse;

                        gap: 30px;

                        a img {
                           width: 80px;
                           height: 50px;
                        }
                    }
                }
            }

            .nextgame {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                width: 500px;
                height: 710px;

                background-color: var(--blue);
                border: 5px solid var(--white);
                border-radius: 20px;

                gap: 3px;

                .games {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    gap: 20px;
                }

                h1 {
                   font-size: 30px;
                   font-weight: 600;
                   color: var(--white);
                }

                .game-1 {
                    width: 470px;
                    height: 200px;

                    background-color: var(--white);
                    border-radius: 20px;

                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;

                    .title-1 {
                      font-size: 17px;
                      font-weight: 400;
                      color: var(--blue);  
                    }

                    .content-game1 {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        gap: 10px;

                        .avai {
                            width: 100px;
                            height: 100px;
                        }

                        img {
                           width: 100px;
                           height: 100px; 
                        }

                        .text-game {
                           display: flex;
                           flex-direction: column; 
                           align-items: center;
                           justify-content: center;
                           gap: 8px;


                           h1 {
                            color: var(--blue);
                            font-size: 35px;
                            font-weight: 600;
                           }

                           h2 {
                            font-size: 25px;
                            font-weight: 500;
                            color: var(--blue);
                           }

                           h3 {
                            font-size: 25px;
                            font-weight: 500;
                            color: var(--blue);
                           }
                        }
                    }
                }

                .game-2 {
                    width: 470px;
                    height: 200px;

                    background-color: var(--white);
                    border-radius: 20px;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .title-2 {
                        font-size: 17px;
                        font-weight: 400;
                        color: var(--blue);
                    }

                    .content-game2 {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        gap: 10px;

                        .avai {
                            width: 100px;
                            height: 100px;
                        }

                        img {
                            width: 100px;
                            height: 100px;
                        }

                        .text-game {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            
                            gap: 8px;

                            h1 {
                                color: var(--blue);
                                font-size: 35px;
                                font-weight: 600;  
                            }

                            h2 {
                                font-size: 25px;
                                font-weight: 500;
                                color: var(--blue); 
                            }

                            h3 {
                                font-size: 25px;
                                font-weight: 500;
                                color: var(--blue);
                            }
                        }
                    }
                }

                .game-3 {
                    width: 470px;
                    height: 200px;

                    background-color: var(--white);
                    border-radius: 20px;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center; 

                    .title-3 {
                        font-size: 17px;
                        font-weight: 400;
                        color: var(--blue);
                    }

                    .content-game3 {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        gap: 10px;

                        .avai {
                            width: 100px;
                            height: 100px;
                        }

                        .text-game  {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;

                            gap: 8px;

                            h1 {
                                color: var(--blue);
                                font-size: 35px;
                                font-weight: 600;  
                            }

                            h2 {
                                font-size: 25px;
                                font-weight: 500;
                                color: var(--blue);  
                            }

                            h3 {
                                font-size: 25px;
                                font-weight: 500;
                                color: var(--blue);
                            }
                        }
                    }
                }
            }
        }

        .main-lastgame {
            width: 100%;
            height: 100%;

            display: flex;
            align-items: end;

            .content-lastgame {
               width: 500px;
               height: 180px;
               
               background-color: var(--blue);
               border: 5px solid var(--white);
               border-radius: 20px;
               margin: 20px 0px;

               display: flex;
               align-items: center;
               flex-direction: column;
               justify-content: center;
               gap: 3px; 

               .lastgame {
                width: 100%;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;


                h1 {
                    font-size: 30px;
                    font-weight: 400;
                    color: var(--white);   
                }

                .content-lastgame1 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    h2 {
                        font-size: 15px;
                        font-weight: 400;
                        color: var(--white);
                    }

                    .content-last {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .avai-lastgame {
                            width: 100px;
                            height: 80px;
                            margin: auto 2px;
                        }

                        .text-last {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;

                            h2 {
                                font-size: 30px;
                                font-weight: bold;
                                color: var(--white);   
                            }

                            h3 {
                              font-size: 13px;
                              font-weight: 400;
                              color: var(--white);  
                            }

                            h4 {
                                font-size: 17px;
                                font-weight: 400;
                                color: var(--white);
                            }
                        }

                        img {
                            width: 70px;
                            height: 80px;
                            margin: 0 20px;
                        }
                    }
                }
               }
            }
        }

        .main-championship {
            width: 100%;
            height: 100%;
            background-color: green;
        }
    }
}